/* Imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CCS Styles */
* {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --btn-color: #1091c4;
  --main-color: #006699;
  --h1--size: 4rem;
  --h2-size: 3rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --margin-bottom: 2.5rem;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}

/* Header section */
header {
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
  display: flex;
}

.header {
  max-width: 85vw;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#logo {
  display: inline;
  padding: 1rem;
  width: 12.5rem;
  height: auto;
  border-radius: 30px;
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}

/* Navigation section */
nav {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  font-weight: bold;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
  list-style: none;
}

nav ul a {
  color: var(--text-color);
  margin: 0 0.3rem 0 0.3rem;
}

nav ul li a:hover {
  border-bottom: 0.15rem solid var(--btn-color);
}

#menu-burger {
  display: none;
}

/* Show case section */

.show-case {
  position: relative;
  background-image: url(images/background-2.jpg);
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-case-content {
  max-width: 85vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.content {
  width: 40vw;
  height: 60vh;
  color: var(--text-color);
  /* margin: 2.5rem 0 1rem 3rem;*/
}

#titular {
  margin: 3rem 0 1rem 3rem;
  font-size: var(--h2-size);
}

.content h4 {
  margin: 2.5rem 0 1rem 3rem;
  padding: 0 5rem 0 0;
  font-size: var(--h4-size);
}

.content button {
  margin: 2.5rem 0 1rem 3rem;
}

.btn {
  font-size: 1.5rem;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--btn-color);
  color: var(--text-color);
  transition: 2s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}

/* Serveis section */

.serveis {
  background-color: var(--main-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serveis h2 {
  color: var(--text-color);
  font-size: var(--h2-size);
  text-align: center;
  margin: 2.5rem;
}

.serveis-container {
  max-width: 85vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  gap: 1rem;
}

.instalacions,
.programacio,
.manteniment {
  border: 0.15rem solid white;
  border-radius: 0.6rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 33%;
  transition: 3s ease;
}

.instalacions:hover,
.programacio:hover,
.manteniment:hover {
  background-color: var(--second-bg-color);
}

.instalacions h4,
.programacio h4,
.manteniment h4 {
  font-size: var(--h4-size);
  text-align: center;
}

.instalacions p,
.programacio p,
.manteniment p {
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.icon {
  margin: 0 0.6rem 0 0.6rem;
}
/* Carrusel marcas */

.carrusel-marcas {
  background-color: white;
  width: 100%;
  height: 25rem;
  border: 0.15rem solid transparent;
  white-space: nowrap;
  overflow-x: hidden;
}

.carrusel-marcas h2 {
  font-size: var(--h2-size);
  color: var(--bg-color);
  text-align: center;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.marcas {
  display: inline-block;
  white-space: nowrap;
  animation: 30s slide infinite linear;
  position: relative;
}

.marcas img {
  height: 7.5rem;
  margin: 0 2.5rem;
}

/* Parlem section */
.parlem {
  width: 100%;
  background: url(images/planos-bg.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.parlem-container {
  max-width: 85vw;
  color: var(--text-color);
  text-align: center;
  justify-content: center;
}

.parlem-container h2 {
  font-size: var(--h2-size);
  text-align: center;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.parlem-container h4 {
  font-size: var(--h4-size);
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.parlem-container .btn {
  margin-bottom: var(--margin-bottom);
}

/* Footer section */

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  border-bottom: 20px solid black;
}

.footer-container {
  max-width: 85vw;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.log-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3.12rem 0 3.12rem;
}

#footer-logo {
  width: 10rem;
  padding: 1rem;
  cursor: pointer;
}

.log-info p {
  padding: auto;
  /*padding: 0 20px 0 20px;*/
  width: 15.6rem;
  text-align: center;
  text-justify: auto;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links ul {
  list-style: none;
  padding: 0 1.2rem 0 1.2rem;
}

.links ul li {
  margin-bottom: 1.2rem;
}

.links ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
}

.links ul li a:hover {
  border-bottom: 0.16rem solid var(--btn-color);
}

.contacte {
  padding: 0 1.5rem 0 1.5rem;
}

.contacte h4 {
  padding: 0.3rem 0 0.3rem 0;
}

/* Media queires */

@media all and (max-width: 2561px) and (min-width: 1933px) {
  #title {
    font-size: var(--h2-size);
  }

  nav ul li {
    font-size: var(--h3-size);
    padding: 0 1rem 0 1rem;
  }

  #titular {
    font-size: var(--h1--size);
    margin-top: 10rem;
  }

  .content h4 {
    font-size: var(--h3-size);
  }

  .content .btn {
    font-size: var(--h3-size);
  }

  .serveis-container {
    width: 100rem;
  }

  .serveis h2 {
    font-size: var(3.5rem);
  }

  .instalacions h4,
  .programacio h4,
  .manteniment h4 {
    font-size: var(--h3-size);
  }

  .instalacions p,
  .programacio p,
  .manteniment p {
    font-size: var(--h4-size);
  }

  .carrusel-marcas h2 {
    font-size: var(3.5rem);
  }

  .parlem-container h2 {
    font-size: var(3.5rem);
  }

  .parlem-container h4 {
    font-size: var(--h3-size);
  }

  .parlem-container .btn {
    font-size: var(--h3-size);
  }

  .footer-container {
    width: 1500px;
  }

  .footer-container p {
    font-size: 1.25rem;
  }

  .links ul li a,
  .contacte h4 {
    font-size: var(--h4-size);
  }
}
