/* Imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CCS Styles */
* {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --btn-color: #1091c4;
  --main-color: #006699;
  --h2-size: 3rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --margin-bottom: 2.5rem;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}

/* Header section */
header {
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
  display: flex;
}

.header {
  max-width: 1200px;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#logo {
  display: inline;
  padding: 1rem;
  width: 200px;
  height: auto;
  border-radius: 30px;
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}

/* Navigation section */
nav {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  font-weight: bold;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 1rem;
  list-style: none;
}

nav ul a {
  color: var(--text-color);
  margin: 0 5px 0 5px;
}

nav ul li a:hover {
  border-bottom: 3px solid var(--btn-color);
}

#menu-burger {
  display: none;
}

/* Show case section */

.show-case {
  position: relative;
  background-image: url(images/background-2.jpg);
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-case-content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}

.content {
  width: 40vw;
  height: 60vh;
  color: var(--text-color);
  margin: 2.5rem 0 1rem 3rem;
}

#titular {
  margin: 2.5rem 0 1rem 3rem;
  font-size: var(--h2-size);
}

.content h4 {
  margin: 2.5rem 0 1rem 3rem;
  padding: 0 5rem 0 0;
  font-size: var(--h4-size);
}

.content button {
  margin: 2.5rem 0 1rem 3rem;
}

.btn {
  font-size: 25px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: var(--text-color);
  transition: 2s ease;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--bg-color);
}

/* Serveis section */

.serveis {
  background-color: var(--main-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serveis h2 {
  color: var(--text-color);
  font-size: var(--h2-size);
  text-align: center;
  margin: 2.5rem;
}

.serveis-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  color: var(--text-color);
  gap: 1rem;
}

.instalacions,
.programacio,
.manteniment {
  border: 3px solid white;
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
  width: 33%;
  transition: 3s ease;
}

.instalacions:hover,
.programacio:hover,
.manteniment:hover {
  background-color: var(--second-bg-color);
}

.instalacions h4,
.programacio h4,
.manteniment h4 {
  font-size: var(--h4-size);
  text-align: center;
}

.instalacions p,
.programacio p,
.manteniment p {
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

.icon {
  margin: 0 10px 0 10px;
}
/* Carrusel marcas */

.carrusel-marcas {
  background-color: white;
  width: 100%;
  height: 400px;
  border: 3px solid transparent;
  white-space: nowrap;
  overflow-x: hidden;
}

.carrusel-marcas h2 {
  font-size: var(--h2-size);
  color: var(--bg-color);
  text-align: center;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.marcas {
  display: inline-block;
  white-space: nowrap;
  animation: 30s slide infinite linear;
  position: relative;
}

.marcas img {
  height: 120px;
  margin: 0 40px;
}

/* Parlem section */
.parlem {
  width: 100%;
  background: url(images/planos-bg.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.parlem-container {
  max-width: 1200px;
  color: var(--text-color);
  text-align: center;
  justify-content: center;
}

.parlem-container h2 {
  font-size: var(--h2-size);
  text-align: center;
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.parlem-container h4 {
  font-size: var(--h4-size);
  margin-top: 2.5rem;
  padding-bottom: 3rem;
}

.parlem-container .btn {
  margin-bottom: var(--margin-bottom);
}

/* Footer section */

footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem 1rem 2rem 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  border-bottom: 20px solid black;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  gap: 1rem;
}

.log-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0 50px;
}

#footer-logo {
  width: 10rem;
  padding: 1rem;
  cursor: pointer;
}

.log-info p {
  padding: 0 20px 0 20px;
  width: 300px;
  text-align: center;
  text-justify: auto;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links ul {
  list-style: none;
  padding: 0 20px 0 20px;
}

.links ul li {
  margin-bottom: 20px;
}

.links ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.25rem;
}

.links ul li a:hover {
  border-bottom: 3px solid var(--btn-color);
}

.contacte {
  padding: 0 20px 0 20px;
}

.contacte h4 {
  padding: 5px 0 5px 0;
}

/* Media Queries or Breack Points */

@media (max-width: 1201px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 991px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 850px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 520px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 400px) {
  header {
    width: 1200px;
    height: auto;
    overflow-x: hidden;
  }
}

/******* Until 375px *******/

@media (max-width: 376px) {
  /* Header settings */

  body {
    overflow-x: hidden;
  }

  header {
    width: 375px;
    height: auto;
    overflow-x: hidden;
  }

  .header {
    width: 375px;
    height: auto;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logo {
    width: 150px;
    border-radius: 0px;
  }

  #title {
    font-size: 1.65rem;
    overflow-x: hidden;
  }

  /* Navigation settings */
  #menu-burger {
    display: block;
  }

  nav ul li {
    display: none;
    overflow-x: hidden;
  }

  /* Showcase Section */
  .show-case {
    width: 375px;
    height: auto;
    overflow-x: hidden;
    background: url(images/background-2.jpg);
    background-repeat: no-repeat;
  }

  .show-case-content {
    height: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    width: 375px;
    height: auto;
    margin: 0;
  }

  .content #titular {
    font-size: var(--h3-size);
    margin: 9rem 0 1rem 0;
    text-align: center;
  }

  .content h4 {
    margin: 5rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
  }

  .content a .btn {
    margin: 0;
    margin: 2.5rem 0 10rem 0;
  }

  /* Serveis Section */
  .serveis {
    width: 375px;
    height: auto;
    overflow-x: hidden;
  }

  .serveis h2 {
    font-size: var(--h3-size);
  }

  .serveis-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: auto;
    overflow-x: hidden;
    gap: 2rem;
    margin-bottom: 2.5rem;
  }

  .serveis-container .instalacions,
  .serveis-container .programacio,
  .serveis-container .manteniment {
    width: 90%;
    border: 5px solid white;
  }

  .instalacions,
  .programacio,
  .manteniment {
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  /* Carrusel de marcas */
  .carrusel-marcas {
    width: 375px;
    height: auto;
    overflow-x: hidden;
    margin-bottom: 0;
    padding-bottom: 2.5rem;
  }

  .carrusel-marcas h2 {
    font-size: var(--h3-size);
  }

  .marcas img {
    margin-bottom: 0;
  }

  .marcas {
    margin-bottom: 0;
  }

  /* Parlem section */
  .parlem {
    width: 375px;
    height: auto;
    overflow-x: hidden;
  }

  .parlem-container {
    width: 375px;
    height: auto;
    overflow-x: hidden;
  }

  .parlem-container h2 {
    width: 375px;
    font-size: var(--h3-size);
    padding: 0 1rem 0 1rem;
  }

  .parlem-container a .btn {
    font-size: 22px;
  }

  /* Footer */
  .footer-container {
    width: 375px;
    height: auto;
    overflow-x: hidden;
    flex-direction: column;
    gap: 5rem;
  }

  .footer-container .links {
    justify-content: center;
  }

  .footer-container .contacte {
    text-align: center;
  }
}

/******* With until 360px *********/

@media (max-width: 361px) {
  header {
    width: 380px;
    overflow-x: hidden;
    height: auto;
  }

  .header {
    overflow-x: hidden;
    width: 360px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #logo {
    width: 125px;
  }

  #title {
    width: 360px;
    height: auto;
    font-size: 2rem;
  }

  /* Navigation settings */

  nav {
    margin-left: 0px;
    width: 380px;
    height: 35px;
  }

  /* Showcase Section */
  .show-case {
    width: 380px;
  }

  .show-case-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 380px;
  }

  .content {
    width: 360px;
  }

  .content #titular {
    margin: 5rem 0 1rem 0;
  }

  .content h4 {
    margin: 5rem 0 1rem 0;
    padding: 0 1rem 0 1rem;
  }

  .content a .btn {
    margin: 2.5rem 0 5rem 0;
  }

  /* Serveis Section */
  .serveis {
    width: 380px;
  }

  .serveis-container {
    width: 380px;
    margin-bottom: 5rem;
  }

  .instalacions,
  .programacio,
  .manteniment {
    padding: 1rem;
  }

  /* Carrusel de marcas */
  .carrusel-marcas {
    width: 380px;
    padding-bottom: 5rem;
  }

  /* Parlem section */
  .parlem {
    width: 380px;
  }

  .parlem-container h2 {
    width: 380px;
  }

  .parlem-container a .btn {
    font-size: 25px;
  }

  /* Footer */
  footer {
    width: 380px;
    height: auto;
    overflow-x: hidden;
  }
  .footer-container {
    width: 380px;
  }
}
